<?xml version="1.0" encoding="UTF-8"?>
<nessus_parser_config>
	


	<filename_map>
		<keyword></keyword>
		<name></name>
	</filename_map>
	<filename_map>
		<keyword></keyword>
		<name></name>
	</filename_map>
	<filename_map>
		<keyword></keyword>
		<name></name>
	</filename_map>
	

	<filename_map>
		<keyword></keyword>
		<name></name>
	</filename_map>
	<filename_map>
		<keyword></keyword>
		<name></name>
	</filename_map>
	<filename_map>
		<keyword></keyword>
		<name></name>
	</filename_map>
	<filename_map>
		<keyword></keyword>
		<name></name>
	</filename_map>
	<filename_map>
		<keyword></keyword>
		<name></name>
	</filename_map>
</nessus_parser_config>

