<?xml version="1.0" encoding="UTF-8"?>
<nessus_parser_config>
	
	<filename_map>
		<keyword>DIPLOBEL_DOMAIN_Win_2012_R2_Member_Server_SCAN_-_SLOW</keyword>
		<name>win_2012_r2_ms</name>
	</filename_map>
	<filename_map>
		<keyword>DIPLOBEL_-_POSTS_-_DISCOVERY_SCAN_-_AFRICA</keyword>
		<name>posts_discovery_africa</name>
	</filename_map>
	<filename_map>
		<keyword>DIPLOSEC_-_Basic_network_scan_192_168_30_X_24</keyword>
		<name>basic_network_192_168_30_X</name>
	</filename_map>
	<filename_map>
		<keyword>DIPLOSEC_-_Ping_and_Open_Ports_check</keyword>
		<name>open_ports_check</name>
	</filename_map>
	<filename_map>
		<keyword>DIPLOSEC_-_Windows_Server_2012_MS_Auth_Scan</keyword>
		<name>member_server_2012_auth</name>
	</filename_map>
	<filename_map>
		<keyword>DIPLOBEL_-_AUTH_SCAN_ALL_DOMAIN_CONTROLLERS</keyword>
		<name>dc_auth</name>
	</filename_map>
</nessus_parser_config>

